<html>
  <style>
  table, td, th { border : 1px solid black; }
  th { padding : 13px; }
  td { padding : 15px; }
  </style>
  
  <head>
    <title>Project Hermione (Beta)</title>
      <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <link href="//cdn.muicss.com/mui-0.5.0/css/mui.min.css" rel="stylesheet" type="text/css" />
      <script src="//cdn.muicss.com/mui-0.5.0/js/mui.min.js"></script>
  </head>

  <body id="prof-top" class="index">
    
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">

    <div class="container">
      <title>Project Hermione (Beta)</title>
      <!--<h1 class="logo"><a href="#">Simple Navbar</a></h1>-->
      <a class="navbar-brand page-scroll" href="#page-top"><%= image_tag "main/logo.png" %></a>
      <ul class="nav nav-right">
        <li class="hidden">-->
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#services">FEATURES</a>
        </li>
        <li>
          <a class="page-scroll" href="#portfolio">ABOUT</a>
        </li>
        <li>
          <%= link_to "SIGN OUT", login_path, class: "page-scroll", data: { toggle: "modal" } %>
        </li>
      </ul>
    </div><!--/.container-->
  
  </nav>
  <div class="button-container"><span class="button">&#10006;</span>
    <div class="content">
      <div class="head">
        <div class="mui-textfield mui-textfield--float-label">
            <input type="text">
            <label>Course Name</label>
        </div>
        <!--<p class="sub">by <a href="http://codepen.io/woodwork/" target="_blank">Joe Harry</a></p>-->
      </div>
      <div class="body">
        <form>
          <!--<legend>Title</legend>-->
          <div class="mui-textfield mui-textfield--float-label">
            <input type="number">
            <label>CCN</label>
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            <input type="text">
            <label>Course Name</label>
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            <input type="text">
            <label>Location</label>
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            <input type="text">
            <label>Days & Time</label>
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            <input type="text">
            <label>Request/Layout</label>
          </div>
          <div class="mui-textfield mui-textfield--float-label" id = 'submit'>
            <input type="text">
            <label>Status</label>
          </div>
          <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
        </form>
      </div>
    </div>
  </div>
</html>