<html>
  <head>
    <title>Project Hermione (Beta)</title>
      <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <link href="//cdn.muicss.com/mui-0.5.0/css/mui.min.css" rel="stylesheet" type="text/css" />
      <script src="//cdn.muicss.com/mui-0.5.0/js/mui.min.js"></script>
  </head>

  <!--<body id="prof-top" class="index">-->
  <!--<div class= 'background'>-->

    <!-- Navigation -->
    <div class="mui-appbar--z4" id = "navbar" style = "position:absolute;">
        <title>Project Hermione (Beta)</title>
          <div class="mui-container-fluid" >
            <a href="/professor">
              <img src="/assets/main/logo.png" alt="Logo" style="width:auto;height:45px;border:0;">
            </a>
            <ul class="nav nav-right">
              <li class="hidden">-->
                <a href="#page-top"></a>
              </li>
              <li>
                <div>
                  <a class="mui-btn mui-btn--flat" href="#services"><div>Listing Requests For:<%= @professor.name%></div></a>
                </div>
              </li>
              <li>
                <div>
                  <a class="mui-btn mui-btn--flat" href="#services"><div>FEATURES</div></a>
                </div>
              </li>
              <li>
                <div>
                  <a class="mui-btn mui-btn--flat" href="#portfolio">ABOUT</a>
                </div>
              </li>
              <li>
                <div>
                  <%= link_to "SIGN OUT", login_path, class: "mui-btn mui-btn--flat", data: { toggle: "modal" } %>
                </div>
              </li>
            </ul>
          </div>
    </div>
    <% if @requests.length > 0 %>
      <% @requests.each do |currRequest| %>
        <div class="button-container"><span class="button">&#10006;</span>
        <div class="mui--text-display3">New Class</div>
        <div class="mui--z3" id = 'form1'>
          <form>
            <!--<legend>Title</legend>-->
            <!--<div class="mui-textfield mui-textfield--float-label">-->
            <!--  <input type="number">-->
            <!--  <label>CCN</label>-->
            <!--</div>-->
            <%= number_field_tag :ccn, currRequest.course.ccn %>
            <!--<div class="mui-textfield mui-textfield--float-label">-->
            <!--  <input type="text">-->
            <!--  <label>Course Name</label>-->
            <!--</div>-->
            <%= text_field_tag :course_title, currRequest.course.title %>
            <!--<div class="mui-textfield mui-textfield--float-label">-->
            <!--  <input type="text">-->
            <!--  <label>Location</label>-->
            <!--</div>-->
            <%= text_field_tag :location, currRequest.course.location %>
            <!--<div class="mui-textfield mui-textfield--float-label">-->
            <!--  <input type="text">-->
            <!--  <label>Days & Time</label>-->
            <!--</div>-->
            <%= text_field_tag :day_and_time, currRequest.course.days + ' ' + currRequest.course.time %>
            <!--<div class="mui-textfield mui-textfield--float-label">-->
            <!--  <input type="text">-->
            <!--  <label>Request/Layout</label>-->
            <!--</div>-->
            <%= text_field_tag :location, currRequest.comments %>
            <!--<div class="mui-textfield mui-textfield--float-label" id = 'submit'>-->
            <!--  <input type="text">-->
            <!--  <label>Status</label>-->
            <!--</div>-->
            <%if currRequest.status == 0%>
              <%= text_field_tag :location, 'Declined' %>
            <%elsif%>
              <%= text_field_tag :location, 'Approved' %>
            <%else%>
              <%= text_field_tag :location, 'Pending' %>
            <%end%>
            <%= button_to 'Submit', edit_professor_path('blah'), method: :put %>
            <!--<button type="submit" class="mui-btn mui-btn--raised">Submit</button>-->
          </form>
        </div>
      </div>
      <% end %>
    <% else %>
      <div class="button-container"><span class="button">&#10006;</span>
          <div class="mui--text-display3">New Class</div>
          <div class="mui--z3" id = 'form1'>
            <form>
              <!--<legend>Title</legend>-->
              <div class="mui-textfield mui-textfield--float-label">
                <input type="number">
                <label>CCN</label>
              </div>
              <div class="mui-textfield mui-textfield--float-label">
                <input type="text">
                <label>Course Name</label>
              </div>
              <div class="mui-textfield mui-textfield--float-label">
                <input type="text">
                <label>Location</label>
              </div>
              <div class="mui-textfield mui-textfield--float-label">
                <input type="text">
                <label>Days & Time</label>
              </div>
              <div class="mui-textfield mui-textfield--float-label">
                <input type="text">
                <label>Request/Layout</label>
              </div>
              <div class="mui-textfield mui-textfield--float-label" id = 'submit'>
                <input type="text">
                <label>Status</label>
              </div>
              <%= button_to 'Submit', new_professor_path("blah"), method: :post %>
              <!--<button type="submit" class="mui-btn mui-btn--raised">Submit</button>-->
            </form>
          </div>
        </div>
      </div>
    <% end %>
    <!--<div class="button-container"><span class="button">&#10006;</span>-->
    <!--  <div class="mui--z3" id = 'form1'>-->
        <!--<div class="head">-->
        <!--  <div class="mui-container-fluid" >-->
        <!--    <div class="mui-textfield mui-textfield--float-label">-->
        <!--      <input type="text">-->
        <!--      <label>Course Name</label>-->
        <!--    </div>-->
        <!--  </div>-->
        <!--</div>-->
        <!--<div class="mui-container-fluid">-->
    <!--     <form>-->
          <!--<legend>Title</legend>-->
    <!--      <div class="mui-textfield mui-textfield--float-label">-->
    <!--        <input type="number">-->
    <!--        <label>CCN</label>-->
    <!--      </div>-->
    <!--      <div class="mui-textfield mui-textfield--float-label">-->
    <!--        <input type="text">-->
    <!--        <label>Course Name</label>-->
    <!--      </div>-->
    <!--      <div class="mui-textfield mui-textfield--float-label">-->
    <!--        <input type="text">-->
    <!--        <label>Location</label>-->
    <!--      </div>-->
    <!--      <div class="mui-textfield mui-textfield--float-label">-->
    <!--        <input type="text">-->
    <!--        <label>Days & Time</label>-->
    <!--      </div>-->
    <!--      <div class="mui-textfield mui-textfield--float-label">-->
    <!--        <input type="text">-->
    <!--        <label>Request/Layout</label>-->
    <!--      </div>-->
    <!--      <div class="mui-textfield mui-textfield--float-label" id = 'submit'>-->
    <!--        <input type="text">-->
    <!--        <label>Status</label>-->
    <!--      </div>-->
    <!--      <button type="submit" class="mui-btn mui-btn--raised">Submit</button>-->
    <!--    </form>-->
        <!--</div>-->
    <!--  </div>-->
    <!--</div>-->
  <!--</div>-->
</html>