<html>
  <head>
    <title>Project Hermione (Beta)</title>
      <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <link href="//cdn.muicss.com/mui-0.5.0/css/mui.min.css" rel="stylesheet" type="text/css" />
      <script src="//cdn.muicss.com/mui-0.5.0/js/mui.min.js"></script>
  </head>

  <!--<body id="prof-top" class="index">-->
  <!--<div class= 'background'>-->

    <!-- Navigation -->
    <div class="mui-appbar--z4" id = "navbar" style = "position:absolute;">
        <title>Project Hermione (Beta)</title>
          <div class="mui-container-fluid" >
            <a href="/professor">
              <img src="/assets/main/logo.png" alt="Logo" style="width:auto;height:45px;border:0;">
            </a>
            <ul class="nav nav-right">
              <li class="hidden">-->
                <a href="#page-top"></a>
              </li>
              <li>
                <div>
                  <a class="mui-btn mui-btn--flat" href="#services"><div>Listing Requests For:<%= @professor.name%></div></a>
                </div>
              </li>
              <li>
                <div>
                  <a class="mui-btn mui-btn--flat" href="#services"><div>FEATURES</div></a>
                </div>
              </li>
              <li>
                <div>
                  <a class="mui-btn mui-btn--flat" href="#portfolio">ABOUT</a>
                </div>
              </li>
              <li>
                <div>
                  <%= link_to "SIGN OUT", login_path, class: "mui-btn mui-btn--flat", data: { toggle: "modal" } %>
                </div>
              </li>
            </ul>
          </div>
    </div>
      <div class="button-container" id="newReq" ><span class="button">&#10006;</span>
        <div class="mui--text-display3">New Class</div>
        <div class="mui--z3" id = 'form1'>
            <%=form_tag(professor_create_path(@professor.id), :method => 'post') do%>
              <p>
                CCN:
                <%= number_field_tag :ccn%>
              </p>
              <p>
                Title:
                <%= text_field_tag :course_name%>
              </p>
              <p>
                Location:
                <%= text_field_tag :location%>
              </p>
              <p>
                Days:
                <%= text_field_tag :days%>
              </p>
              
              <p>
                Request and Layout:
                <%= text_field_tag :request_and_layout%>
              </p>
              <p>
               <%= submit_tag 'Submit' %>
              </p>
            <%end%>
        </div>
      </div>
      <% @requests.each do |currRequest| %>
            
        <div class="button-container" id="editReq"><span class="button">&#10006;</span>
        <div class="mui--text-display3">Edit Class</div>
        <div class="mui--z3" id = 'form2'>
            <%=form_tag(professor_edit_path(currRequest.id), :method => 'post') do%>
              <p>
                CCN:
                <%= number_field_tag :ccn, currRequest.course.ccn%>
              </p>
              <p>
                Course Name:
                <%= text_field_tag :course_name, currRequest.course.title%>
              </p>
              <p>
                Location:
                <%= text_field_tag :location, currRequest.course.location%>
              </p>
              <p>
                Days:
                <%= text_field_tag :days, currRequest.course.days%>
              </p>
              
              <p>
                Request and Layout:
                <%= text_field_tag :request_and_layout, currRequest.comments%>
              </p>
              <p>
                Status:
                <% if currRequest.status == 0%>
                  <%statTxt = 'Declined'%>
                <% elsif currRequest.status == 1%>
                  <%statTxt = 'Approved'%>
                <%else%>
                  <%statTxt = 'pending'%>
                <%end%>
                <%= text_field_tag "status", statTxt%>
              </p>
              <p>
               <%= submit_tag 'Submit' %>
              </p>
            <%end%>
        </div>
      </div>
    <% end %>
</html>