= javascript_include_tag 'public/javascripts/rails.js'

%h1 ETS Page
= form_tag ets_path,:method => :get do
  = label :course, 'Building'
  = search_field_tag 'search[building]'
  = label :course, 'Room'
  = search_field_tag 'search[room]' 
  = label :course, 'Time'
  = search_field_tag 'time'
  
  = submit_tag 'Submit', name: nil


%h3 Requests
%table{:border => 1}
  %thead
    %tr 
      %th= link_to 'CCN'
      %th= link_to 'Title'
      %th= link_to 'Professor'
      %th= link_to 'Location',ets_path(:sort => 'location')
      %th= link_to 'Days' 
      %th= link_to 'Time',ets_path(:sort => 'time')
      %th= link_to 'Request'
      %th= link_to 'Status'
  %tbody
    - @requests.each do |request|
      %tr
        %td= request.course.ccn
        %td= request.course.title
        %td= request.course.professors.map(&:name).join(",")
        %td= request.course.location
        %td= request.course.days
        %td= request.course.time
        %td= request.comments
        %td= request.status
        - if request.status == 0
          %td= button_to("Accept", email_path(:request => request, :stuff => "accept"), method: :post, data: {:confirm => "Accept Request?"})
          %td= button_to("Cancel", email_path(:request => request, :stuff => "cancel"), method: :post, data: {:confirm => "Cancel Request?"}) 
        - if request.status == 1
          %td= button_to("Edit")
