%h1 ETS Page
= form_tag ets_path,:method => :get do
  = label :course, 'Building'
  = search_field_tag 'search[building]'
  = label :course, 'Room'
  = search_field_tag 'search[room]' 
  = label :course, 'Time'
  = search_field_tag 'time'
  
  = submit_tag 'Submit', name: nil


%h3 Requests
%table{:border => 1}
  %thead
    %tr 
      %th= link_to 'CCN'
      %th= link_to 'Title'
      %th= link_to 'Professor'
      %th= link_to 'Location',ets_path(:sort => 'location')
      %th= link_to 'Days' 
      %th= link_to 'Time',ets_path(:sort => 'time')
      %th= link_to 'Request'
      %th= link_to 'Status'
  %tbody
    - @courses.each do |course|
      %tr
        %td= course.ccn
        %td= course.title
        %td= course.professors.map(&:name).join(",")
        %td= course.location
        %td= course.days
        %td= course.time
        %td= course.request.comments
        %td= course.request.status

