%h1 ETS Page

:css
  table th {
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family:Arial, sans-serif;
  }
  table td {
    font-size: 15px;
    text-align: center;
    padding: 10px;
    font-family:Arial, sans-serif;
  }

%h3 Requests
%table{:border => 1}
  %thead
    %tr
      %th= link_to 'Professor'
      %th= link_to 'Location'
      %th= link_to 'Days & Time'
      %th= link_to 'Request/Layout'
      %th= link_to 'Date Requested'
      %th= link_to 'Status'
  %tbody
    %tr
      %td= 'Armando Fox'
      %td= '10 EVANS'
      %td= 'TuTh 1530-1700'
      %td= 'Audio & Projector'
      %td= '2007-01-18 06:10:17'
      %td= 'Approved'
    // - @request
    //   %tr
    //     %td= request.professor
    //     %td= request.building
    //     %td= request.room
    //     %td= request.layout
    //     %td= request.date_requested